
# ignore the following files

#temporary or backup files
*.bak

# sbt's managed libs dir
lib_managed/

# sbt's project boot dir
project/boot/

# sbt's build targed dir
project/build/target/

# sbt's targed directory
target/

# local tmp directory
tmp/

# eclipse's .project and .classpath files
.project
.classpath
